@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf') format('truetype');
}
html, body {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background: #F5F5F5;
	overflow: hidden;
	font: Raleway;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


* {
	/*outline: red 1px solid;*/
}

.colorKey {
	height: 40px;
	width: 40px;
	float: left;
	outline: #00AF96 1px solid;
	padding: 0 auto;
	margin: 0 auto;
	margin-left: 65px;
	margin-right: 20px;
	margin-top: 15px;
	-webkit-transform: translateY(-10px);
}

.keyName {
	text-align: left;
	margin-top: 12px;
}

.lifeColor {
	background-color: rgba(254,153,11,0.7);
}

.ytdColor {
	background-color: rgba(252,76,2,0.7);
}

.recentColor {
	background-color: rgba(254,12,11,0.7);
}

.strava-color {
	color: #FC4C02;
	float: left;
	width: 40%;
	height: 10px;
}

.name {
	height: 10px;
	float: left;
	width: 30%;
}

.lastActivity {
	float: left;
	width: 50%;
	height: 40px;
	text-align: right;
	padding-right: 100px;
	padding-top: 25px;
}

.myGraph {
	width: 48%;
	height: 40%;
	float: left;
}

h1	{
	font-size: 65px;
}

.header {
	width: 100%;
	height: 150px;
	float: left;
	margin-left: 100px;
}


.timeLeft {
	font-size: 50px;
}

.links {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	margin-right: 40px;
	-webkit-transform: translateX(-65px);
}

.link {
	margin: 26px;
	text-decoration: none;
	color: #1624C9;
	-webkit-transform: scale(2, 2);
	transition: all .4s ease-in-out;
}

.link:hover {
	color: #FC4C02;
}

.link:visited {
	color: #1624C9;
}

.flexMain {
	width: 100%;
	display: flex;
	flex-flow: row wrap;

	justify-content: space-around;
}

h2 {
	
}
.newCenter {
	height: 300px;
}
.sideways {
	font-size: 150px;
	-webkit-transform: rotate(-90deg) translateY(-120px) translateX(-90px);
	text-align: center;
	margin-left: 100px;
}

h4 {
	font-size: 40px;
	text-align: center
}
ul {
	float: left;
}
.content {
	margin: 30px 10px;
	/*float: left;*/
	font-family: Raleway;
	font-weight: 100;
	height: 100%;
	color: #303030;
}

.realTime {
	display: flex;
	flex-direction: column;
	padding-top: 25px;		
	outline: red 1px orange;

}

.segTime {
	font-size: 120px;
	margin: 0 auto;
	height: 110px;

}
.fullDate {
	margin-right: -10px; 
	font-size: 90px;
	font-weight: bold;
	-webkit-transform: translateX(80px);
}

.catTitle {
	color: white;
	font-size: 20px;
	font-weight: bold;
}


.flip-container {
	perspective: 1000;
	position: relative;
	transition: all .2s ease-in-out;
}

.flip-container-time {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg) translateY(-150px) translateX(-50px);
	}
	.flip-container-time:hover .flipperTime, .flip-container-time.hover .flipperTime {
		-webkit-transform: rotateY(180deg);
	}

.flip-container {
	flex-shrink: 1;
	width: 25%;
	height: 480px;
}

.front, .frontTime {
	margin: 0 auto;
	width: 100%;
	height: 480px;

}

.backTime {
	width: 300px;
	height: 480px;
}

.back {
	width: 550px;
	height: 600px;
	background-color: rgba(38,51,38,.95);
	-webkit-transform: translateX(-100px);
}


/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

.flipperTime {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back, .backTime {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.frontTime {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.backTime {
	transform: rotateY(180deg);
}

/*
	-webkit-transform: scale(1.5);
	-webkit-filter: grayscale(1);
	-webkit-filter: blur(5px);


	.jake {animation: ;}
*/




